<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="@routes.Assets.at("javascripts/jquery/jquery.min.js")" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    @*<script src="@routes.Assets.at("bootstrap/js/bootstrap.js")" type="text/javascript"></script>*@


    <!-- Latest compiled and minified JavaScript -->
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@
<script src="@routes.Assets.at("javascripts/bootstrap4/js/bootstrap.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/metisMenu/metisMenu.min.js")"></script>
<script src="@routes.Assets.at("javascripts/owlcarousel/owl.carousel.js")"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>

<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
@*<script src="@routes.Assets.at("jasny-bootstrap/js/jasny-bootstrap.min.js")"></script>*@