@(title: String)(implicit request: MessagesRequestHeader)
<head>
    <title>@title - System Dynamics</title>
    <meta name="viewport" content="width=devices-width, initial-scale=1.0">
        <!-- Bootstrap -->
    @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">*@

    <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("images/favicon.ico")"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified CSS -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap4/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap4/css/bootstrap-grid.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap4/css/bootstrap-reboot.min.css")">

        <!-- Optional theme -->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">*@
    @*<link rel="stylesheet" href="@routes.Assets.at("javascripts/bootstrap4/css/bootstrap-theme.css")">*@

    <link rel="stylesheet" href="@routes.Assets.at("javascripts/owlcarousel/assets/owl.carousel.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/owlcarousel/assets/owl.theme.green.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/metisMenu/metisMenu.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/metisMenu/mm-vertical.css")">

    <link rel="stylesheet" href="@routes.Assets.at("css/base.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

    @*<link rel="stylesheet" href="@routes.Assets.at("javascripts/metisMenu/mm-vertical-hover.css")">*@
    @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("jasny-bootstrap/css/jasny-bootstrap.min.css")">*@

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>