@()(implicit request: MessagesRequestHeader)
<nav class="navbar navbar-expand-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">System Dynamics</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link @if(request.path.startsWith("/about")) {active}" href="/about">@request.messages("menu.about")</a>
            <a class="nav-item nav-link @if(request.path.startsWith("/contacts")) {active}" href="/contacts">@request.messages("menu.contacts")</a>

        </div>
    </div>


    <select class="custom-select" name="langs" id="langs">
        <option value="ru"

            @if(request.messages.lang.code == "ru") {
                selected="selected"
                }
        >ru</option>
        <option value="en"

            @if(request.messages.lang.code == "en") {
                selected="selected"
                }
        >en</option>
    </select>


</nav>