@import device.Device
@import types.{Images, MenuData}
@import device.DeviceParams
@(title: String, device: Device, images: Images, menuData: MenuData)(implicit request: MessagesRequestHeader)

@main(title, menuData, Some(device)) {

    <hr>
    <div class="d-flex  justify-content-between">
        <h3><strong>@device.name</strong></h3>
        <button type="button" class="btn btn-primary ">Купить</button>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-7">
                <figure class="figure">
                    <a class="proxy" href="#">
                        <img class="main" src="@routes.Assets.at(images.head.path)" width="350" height="350" alt="" />
                    </a>
                </figure>
            </div>
            <div class="col-5">

                @if(!images.head.path.contains("not_found")){
                    @for((image, i) <- images.zipWithIndex) {
                        <a data-fancybox="bitrek-810" href="@routes.Assets.at(image.path)">
                            <img class="thumb border  rounded-circle @if(0 == i) {border-primary } else {border-light} " src="@routes.Assets.at(image.path)" width="100" height="100" alt="sdf">
                        </a>

                        @if((i + 1) % 3 == 0) {
                            <br>
                        }
                    }
                }
            </div>
        </div>
    </div>
    @if(Option(device.description).isDefined) {
        <div class="p-3 mb-2 bg-secondary text-white 111jumbotron">
            @Html(device.description)
        </div>
    }
    <table class="table table-hover table-sm">
        @if(device.params.nonEmpty) {
            <caption>Внешний вид и характеристики товара могут отличаться</caption>
        }
        <tbody>

        @for((DeviceParams(paramName, paramValue, _)) <- device.params) {
            <tr>
                <th scope="row">@paramName</th>
                <td>@paramValue</td>
            </tr>
        }
        </tbody>
    </table>
}