@import types.MenuData
@import device.Device
@(title: String, device: Device, menuData: MenuData)(implicit request: MessagesRequestHeader)

@main(title, menuData, Some(device)) {

    <hr>

    <div class="row">
        <div class="col-md-5">
            <img class=" img-thumbnail" src="http://via.placeholder.com/350x350" alt="">
        </div>

        <div class="col-md-7">

        @device


        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">

        </div>
    </div>
}