@import types.MenuData
@import types.CarouselData
@(menuData: MenuData, carouselData: CarouselData)(implicit request: MessagesRequestHeader)

@import parts.cards

@main("SAS Dynamics Main", menuData) {
    <div class="row">
        <div class="owl-carousel owl-theme">
            @for(carouselItem <- carouselData) {
                <div class="item"><h4></h4><img src="@routes.Assets.at("images/owl-carousel/" + carouselItem.fileName)" alt=""></div>
            }
        </div>

    </div>
    <div class="row">
    @cards()
    </div>

}
