@import controllers.Application.MenuData
@(model: Model, menuData: MenuData, currentItem: CurrentItem)(implicit request: MessagesRequestHeader)

@main("Item " + model.name, menuData, currentItem) {

    <hr>

    <div class="row">
        <div class="col-md-5">
            <img class=" img-thumbnail" src="http://via.placeholder.com/350x350" alt="">
        </div>

        <div class="col-md-7">

        @model


        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">
            <img class=" img-thumbnail" src="http://via.placeholder.com/100x100" alt="">

        </div>
    </div>
}