@import device.Device
@import types.MenuData
@import views.html.parts.{head, navbar, sidemenu, foot}

@(title: String, menuData: MenuData, device: Option[Device] = None, showBreadcrumbs: Boolean = false, tab: String = "", styles: Html = Html(""), scripts: Html = Html(""), modals: Html = Html(""))(content: Html)(implicit request: MessagesRequestHeader)



<!DOCTYPE html>
<html>
    @head(title)
    <body>
        <div class="container">
            @navbar()
            <div class="row">
                <div class="col-md-3">
                    @sidemenu(menuData, device)
                </div>
                <div class="col-md-9">
@*
                        <form action="/search" method="post">
                    <div class="input-group" style="margin-top: 0">
                            <input type="text" class="form-control" placeholder="@request.messages("search.for")">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">@request.messages("search.go")</button>
                            </span>
                    </div><!-- /input-group -->
                        </form>
*@
                    @content
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>

        <footer class="container">
            <div class="col-md-12">
                <div class="row">
                    FOOTER
                </div>
            </div>
        </footer>
        @foot()
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
        <i class="fas fa-angle-up"></i>
    </a>
    </body>
</html>